.wrapper {
  margin: 0px auto;
  width: 100vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.paddingSection {
  padding: 0px 10px;
}

.headerImages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.nameText {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

.textSection {
  text-align: center;
  font-size: 20px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.saveDateSection {
  display: grid;
  grid-template-columns: 3fr 4fr;
}

.saveDateWrapper {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.saveDateWrapper > div {
  text-align: center;
}

.saveDateHeader {
  font-size: 50px;
  text-transform: capitalize;
}

.saveDateDate {
  font-size: 50px;
}

.saveDateText {
  font-size: 20px;
}

.separateDate {
  font-size: 18px;
  text-align: center;
  padding: 50px;
}

.locationSection {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.locationWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.locationHeaderWrapper {
}

.locationHeader {
  font-size: 50px;
  text-align: center;
}

.locationText {
  text-align: center;
}

.location {
  text-align: center;
  text-decoration: none;
  color: black;
}

.timelineSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.timelineHeader {
  text-align: center;
}

.timelineWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.timelineItem {
  display: flex;
  align-items: center;
  gap: 15px;
}

.timelineTime {
  width: 35px;
}

.timelineText {
  width: 50px;
}

/* @media screen and (min-width: ) {
} */
